@{
    ViewData["Title"] = "Watson Assistant";
}

    <header class="head">
        <nav class="nav container">
            <div class="nav__logo">
                <h2 class="nav__title"> Smart Campus IBM</h2>
            </div>

            <ul class="nav__link nav__link--menu">
                <li class="nav__items">
                    <a asp-controller="Home" asp-action="Index" class="nav__links">Inicio</a>
                </li>
                <li class="nav__items">
                    <a asp-controller="Home" asp-action="Watson" class="nav__links">Acerca del Asistente</a>
                </li>
                <li class="nav__items">
                    <a asp-controller="Home" asp-action="iot" class="nav__links">Acerca del IOT</a>
                </li>

                <img src="~/images/close.svg" class="nav__close" alt="" >
            </ul>

            <div class="nav__menu">
                <img src="~/images/menu.svg" class="nav__img" alt="">
            </div>
        </nav>

        <section class="hero__container container">
            <h1 class="hero__title">
                <img src="~/images/watson_log.png" width="100%" height="100%" alt="">
            </h1>
            <p class="hero__paragraph">

            </p>
            
        </section>
    </header>



    <main>
        <section class="container about">
            <h2 class="subtitle">Asistente GERJJE-V</h2>
            <p class="about__paragraph">Watson Assistant es un servicio de inteligencia artificial ofrecido por IBM que nos permite crear un 
                chatbot en vivo para incluirlo en cualquier dispositivo, aplicación o medio. Este chatbot resuleve las consultas de los alumnos de la FIA del septimo ciclo.</p>

            <div class="about__main">         
                <article class="about__info">
                    <h3 class="about__title" style="text-align: center;">¿Que es un ChatBot?</h3>
                    <p class="about__paragrah">
                        Un chatbot es un programa que usa IA para llevar interacciones con humanos utilizando lenguaje natural en texto y/o audio. 
                        Los usuarios pueden hacer preguntas, realizar solicitudes, dar información e interactuar de acuerdo a sus necesidades.Los términos chatbot, 
                        asistente virtual y agente conversacional a veces se usan indistintamente, pero los chatbots tienden a admitir conversaciones sencillas y tareas específicas.
                    </p>
                </article>

                <article class="about__info">
                    <h3 class="about__title" style="text-align: center;">¿Que es IBM?</h3>
                    <p class="about__paragrah">
                        International Business Machines (IBM), es una empresa dedicada a proporcionar a las empresas
                        soluciones para la mejora de sus procesos de negocio. Así, IBM facilita a sus clientes los métodos para
                        hacer frente a los problemas empresariales mediante una adecuada utilización de las tecnologías de la
                        información.
                    </p>

                    
                </article>      
                        
            </div>
            <br>
            <br>
            <br>
            <h2 class="subtitle">¿Como usar ChatBot?</h2>
                    <p class="about__paragraph">En la parte inferior derecha encontraras el incono de nuestro asistente, que estara listo para responder 
                        a las dudas que puedas tener acerca de nuestra Facultad, solo necesitas empezar una conversacion con el, de la forma en la que iniciarias 
                        una conversacion con una persona normal, y te respondera de la misma forma, listo para resolver tus dudas.
                    </p>                 
            </div>
        </section>

        <section class="block_chatbot">
            <div class="block__table__chatbot">
                <div class="block__chatbot">
                    <img src="~/images/chatbotWA.jpg" class="img__chatbot" alt="">                    
                </div>
                <div class="block__chatbot__cursos">
                    <h3 class="block__chatbot__title">Consultas sobre los siguientes cursos:</h3>
                    <div class="block__cursos">
                        <div class="card">
                            <img src="~/images/libro.jpg" class="img__curso" alt="">   
                            <h4 class="curso__title">Taller de Proyectos</h4>                            
                        </div>
                        <div class="card">
                            <img src="~/images/ISII.jpg" class="img__curso" alt="">
                            <h4 class="curso__title">Ingeniería de Software II</h4> 
                        </div>
                    </div>
                    <div class="block__cursos">
                        <div class="card">
                            <img src="~/images/ia.jpg" class="img__curso" alt="">
                            <h4 class="curso__title">Inteligencia Artificial</h4> 
                        </div>
                        <div class="card">
                            <img src="~/images/GF.jpg" class="img__curso" alt="">
                            <h4 class="curso__title">Gestión Financiera</h4> 
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
